.container {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: 1px solid lightblue;
  background-color: grey;
  color: whitesmoke;
  margin-left: 280px;
 
}


.row {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 8px;
  padding: 10px;
  
}

.col-25 {
  width: 100%;
}

.col-75 {
  margin: 20px;
  width: 100%;
}

.input {
  margin-left: 20px;
}

.text-danger {
  color: red;
}